.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #360aaf;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid black;
}

.footer {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #360aaf;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid black;
}

.left-section {
  margin-left: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-container {
  display: flex;
}

.icon {
  margin-right: 10px;
}

.title {
  display: inline-block;
  border-radius: 20px;
  background-color: #eaeaea;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}