
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: 30415D;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  max-width: 100px;
}
.title {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #30415D;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/*CREATE POST*/
.create-post {
  position: absolute;
}